<div class="row" *ngIf="cargando">
  <div class="col-sm-12">
      <div class="alert alert-warning text-center">
          <strong>Cargando</strong>
          <br>
          <i class="fa fa-refresh fa-spin fa2x"></i>
          <br>
          <span>Espere por favor</span>
      </div>
  </div>
</div>

<div *ngIf="!cargando">
  <div class="content doNotPrint" role="main">
    <h1 class="alert alert-primary">Hola, {{usuarioService.usuario.nombre}}.</h1>
    <app-herramientas></app-herramientas>
      <div class="card-container">
        <a class="card" (click)="descargar()">
          <span class="h">Descargar</span>
          <svg class="material-icons" style="transform: rotate(90deg);" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
        </a>

        <a class="card" (click)="onPrint()">
          <span class="h">Imprimir</span>
        </a>
    
        <a (click)="usuarioService.logOut()" class="card">
          <span class="h">Salir</span>
          <svg class="material-icons" style="transform: rotate(270deg);" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
        </a>
      </div>
  </div>

  <section id="graficaPastel">
    <div class="content">
      <h1 style="color: #575959;" >Porcentajes<h3>del {{miFecha | date: 'dd MMMM yyyy'}}</h3></h1>
    </div>
  
    <div class="chart container impr">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [legend]="pieChartLegend"
        [colors]="pieChartColors">
      </canvas>
    </div>

    <div class="container mt-5 mb-5">
      <img src="https://res.cloudinary.com/kinich/image/upload/v1593738650/LogoCAPEM_f4zex2.png" alt="logotipo-CAPEM" style="width: 180px;">
      
      <table class="table table-responsive-sm table-hover">
        <thead>
          <tr>
            <th scope="col">No sospechoso</th>
            <th scope="col">Sospechoso sin riesgo</th>
            <th scope="col">Sospechoso de riesgo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{porcentNoSospechHoy.toFixed(2)}}%</td>
            <td>{{porcentSinRiesgo.toFixed(2)}}%</td>
            <td>{{porcentRiesgos.toFixed(2)}}%</td>
          </tr>
        </tbody>
      </table>
      <hr>
      <br>

      <table class="table table-responsive-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Encuestas</th>
            <th scope="col">Sospechoso con posible complicación</th>
            <th scope="col">Sospechoso con factores de riesgo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{encuestasHoy.length}}</td>
            <td>{{riesgo2Hoy.length}}</td>
            <td>{{riesgo3Hoy.length}}</td>
          </tr>
        </tbody>
      </table>
        <hr>
    </div>
  </section>

  <section id="graficaLinea" class="saltopagina">
    <div class="content">
      <h1 style="color: #575959;" >Datos semestrales</h1>
    </div>

    <div class="chart container impr2">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [colors]="barChartColors"
        [chartType]="barChartType">
      </canvas>
    </div>
  
    <div class="container">
      <div class="mt-5 mb-5">
        <img src="https://res.cloudinary.com/kinich/image/upload/v1593738650/LogoCAPEM_f4zex2.png" alt="logotipo-CAPEM" style="width: 180px;">

        <table class="table table-responsive-sm table-hover">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Jul</th>
              <th scope="col">Ago</th>
              <th scope="col">Sep</th>
              <th scope="col">Oct</th>
              <th scope="col">Nov</th>
              <th scope="col">Dic</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sospechoso de riesgo</td>
              <td>{{riesgosJul}}</td>
              <td>{{riesgosAgo}}</td>
              <td>{{riesgosSep}}</td>
              <td>{{riesgosOct}}</td>
              <td>{{riesgosNov}}</td>
              <td>{{riesgosDic}}</td>
            </tr>
            <tr>
              <td>Sospechoso con posible complicación</td>
              <td>{{riesgoT2jul.length}}</td>
              <td>{{riesgoT2ago.length}}</td>
              <td>{{riesgoT2sep.length}}</td>
              <td>{{riesgoT2oct.length}}</td>
              <td>{{riesgoT2nov.length}}</td>
              <td>{{riesgoT2dic.length}}</td>
            </tr>
            <tr>
              <td>Sospechoso con factores de riesgo</td>
              <td>{{riesgoT3jul.length}}</td>
              <td>{{riesgoT3ago.length}}</td>
              <td>{{riesgoT3sep.length}}</td>
              <td>{{riesgoT3oct.length}}</td>
              <td>{{riesgoT3nov.length}}</td>
              <td>{{riesgoT3dic.length}}</td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </section>
</div>