<div class="content" role="main">
  <h2>Recursos</h2>
  <p>Te brindamos recursos necesarios para cuidar y evaluar la salud de tus empleados:</p>
    <div class="card-container">
      <a routerLink="/encuesta" class="card">
        <span>Realizar encuesta</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
  
      <a routerLink="/login" class="card">
        <span>Ver estadísticas</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
    </div>
  
    <h2 style="margin-top: 30px;">¿Más de nosotros?</h2>
    <p>Oprime el botón para volver a la página principal.</p>
  
    <div class="card-container">
      <a class="circle-link" title="CAPEM" href="https://www.capem.com.mx/" rel="noopener">
        <img width="35" alt="Logotipo-CAPEM" src="https://res.cloudinary.com/kinich/image/upload/v1593738760/LogoFCAPEM_gwvx6k.png"/>
      </a>  
    </div>
</div>
